*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: poppins, sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.container {
  display: grid;
  justify-items: center; /* Center the card horizontally */
  align-items: center; /* Center the card vertically */
}

.description {
  text-align: center;
  max-width: 600px;
  margin: 40px 20px 20px 20px;
}

.h1-slim {
  font-weight: 200;
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
  margin: 0;
}

.h1-bold {
  font-weight: 600;
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
  margin: 0;
}

.services-card {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  padding: 35px;
  margin: 20px;
  border-radius: 6px;
  width: 340px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(213, 96%, 18%);
}

p {
  margin: 10px 20px 0 0;
  font-size: 0.9rem;
  color: hsl(212, 6%, 44%);
  line-height: 1.5;
}

img {
  width: 60px;
  height: 60px;
  margin: 20px 0 0 210px;
}

.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

@media (min-width: 768px) {
  .services {
    display: grid;

    /* 定义 3 列 2 行的网格 */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    align-items: center; /* 垂直居中关键 */
  }
  .supervisor {
    grid-column: 1;
    grid-row: 1 / span 2; /* 跨越两行，实现垂直居中 */
  }
  .team-builder {
    grid-column: 2;
    grid-row: 1;
  }
  .karma {
    grid-column: 2;
    grid-row: 2;
  }
  .calculator {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
